{% extends "base_admin.html" %}
{% load static %}

{% block title %}Dashboard{% endblock %}

{% block content %}
<div class="container">
    <h2 class="position-relative d-inline-block">Informe Excel</h2>
    <form method="get" action="{% url 'informe_download' %}">
        <label for="start_date">Fecha de inicio:</label>
        <input type="date" id="start_date" name="start_date" required>

        <label for="end_date">Fecha de fin:</label>
        <input type="date" id="end_date" name="end_date" required>

        <button type="submit" class="btn btn-primary">Generar Informe</button>
    </form>
</div>

{% endblock %}
